html,
body {
  position: absolute;
  inset: 0;
  background: linear-gradient(to right top, #eb9a77, #800080);
}

.record-content {
  pre {
    display: block;
    background-color: #181818;
    padding: 10px 20px;
    border-radius: 10px;
    position: relative;
    pointer-events: none;

    &::after {
      content: "COPY";
      pointer-events: all;
      padding: 5px;
      border-top-right-radius: 10px;
      background-color: #55a1df;
      position: absolute;
      right: 0px;
      top: 0px;
      cursor: pointer;
      font-size: 10px;
      visibility: hidden;
    }
  }

  &:hover {
    pre {
      &::after {
        visibility: visible;
      }
    }
  }
}
