html,
body {
  position: absolute;
  inset: 0;
  background: linear-gradient(to right top, #eb9a77, #800080);
}

pre {
  background-color: #181818;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  pointer-events: none;

  &::after {
    pointer-events: all;
    content: "COPY";
    padding: 5px;
    border-top-right-radius: 10px;
    background-color: #55a1df;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    font-size: 10px;
  }
}
